<div class="mb-lg-10">
    <p class="subtitle-sm" data-scroll data-scroll-speed="2" data-scroll-position="top">Hello Everyone, I'm</p>
    <h1 class="display-1 mb-4" data-scroll data-scroll-speed="4" data-scroll-position="top">Dafa Hentra</h1>
    <p data-scroll data-scroll-speed="6" data-scroll-position="top" class="lead typed-elem">An aspiring finance students with a deep interests in <span class="fw-bold text-highlight" data-typed='{"backSpeed": 50,"strings": ["data analysis", "portfolio optimization", "investment strategy", "risk management"]}'></span><span class="d-block">specializing in financial sector & manufacturing</span></p>
</div>