<!-- Skills Section-->
<div class="pt-2 pb-6 skills" data-scroll>
    {{>
        content/subtitle 
        title-script="My"
        title="Skills & Toolsets"
        doodle-width="f-w-40"
    }}
    
    {{#if (config skills)}}
        <!-- Finance Skills -->
        <div 
                    class="row gx-2 mb-5 fade-in-up" 
                    data-scroll
                    data-scroll-position="bottom" 
                >
        <div class="skills-section mb-5">
            <h4 class="display-6 text-center mb-5">Finance</h4>
            <div class="row g-3 justify-content-center">
                {{#each skills.FinStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            <div class="text-icon">{{this.textIcon}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Technical Skills -->
        <div 
                    class="row gx-2 mb-5 fade-in-up" 
                    data-scroll
                    data-scroll-position="bottom" 
                > 
        <div class="skills-section mb-5">
            <h4 class="display-6 text-center mb-5">Data & Visualization</h4>
            <div class="row g-3 justify-content-center">
                {{#each skills.DataStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            <span class="iconify" data-icon="{{this.icon}}"></span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Office Suite -->
        <div 
                    class="row gx-2 mb-5 fade-in-up" 
                    data-scroll
                    data-scroll-position="bottom" 
                > 
        <div class="skills-section">
            <h4 class="display-6 text-center mb-5">Office Suite</h4>
            <div class="row g-3 justify-content-center">
                {{#each skills.BizStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            <span class="iconify" data-icon="{{this.icon}}"></span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Other Toolset -->
        <div 
                    class="row gx-2 mb-5 fade-in-up" 
                    data-scroll
                    data-scroll-position="bottom" 
                > 
        <div class="skills-section">
            <h4 class="display-6 text-center mb-5">Other Toolset</h4>
            <div class="row g-3 justify-content-center">
                {{#each skills.ToolsStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            <span class="iconify" data-icon="{{this.icon}}"></span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>

<!-- Include Iconify -->
<script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
<!-- /Skills Section-->