<!-- Skills Section-->
<div class="pt-2 pb-6 skills" data-scroll>
    {{>
        content/subtitle 
        title-script="My"
        title="Skills"
        doodle-width="f-w-40"
    }}
    
    {{#if (config skills)}}
        <!-- Professional Skillset -->
        <div class="skills-section mb-5">
            <h4 class="display-6 text-center mb-5">
                Professional <span class="text-white">Skillset</span>
            </h4>
            
            <div class="row g-3 justify-content-center">
                {{#each skills.techStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            {{#if this.devicon}}
                                <i class="devicon-{{this.devicon}}"></i>
                            {{else if this.simpleIcon}}
                                <img src="https://cdn.simpleicons.org/{{this.simpleIcon}}/ffffff" 
                                     alt="{{this.name}}"
                                     class="simple-icon">
                            {{else if this.remixIcon}}
                                <i class="{{this.remixIcon}}"></i>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Tools I Use -->
        <div class="tools-section">
            <h4 class="display-6 text-center mb-5">
                <span class="text-white">Tools</span> I Use
            </h4>
            
            <div class="row g-3 justify-content-center">
                {{#each skills.toolStack}}
                    <div class="col-4 col-md-2">
                        <div class="skill-box">
                            {{#if this.devicon}}
                                <i class="devicon-{{this.devicon}}"></i>
                            {{else if this.simpleIcon}}
                                <img src="https://cdn.simpleicons.org/{{this.simpleIcon}}/ffffff" 
                                     alt="{{this.name}}"
                                     class="simple-icon">
                            {{else if this.remixIcon}}
                                <i class="{{this.remixIcon}}"></i>
                            {{else if this.text}}
                                <span class="skill-text">{{this.text}}</span>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>

<!-- Include Devicon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<!-- /Skills Section-->